.letrascolor{
    color:brown;
    font-family: valorant;
    
}

@font-face{
    font-family: valorant;
    src: url(../fonts/Valorant\ Font.ttf);
}

header {
font-family: valorant;
}

footer {
    font-family: valorant;
}